# nixos-rebuild operations can sometimes create a
# symlink to the build result in the nix store. I'm
# not sure how intentional this is, but either way
# it does not need to be checked in.
#
# See this issue for more details:
# https://github.com/NixOS/nixpkgs/issues/12665
result

# While ~/.config/direnv is still the old whole-dir symlink into this repo,
# switching to the nix-direnv config can drop its generated stdlib file in here.
# It belongs in the nix store, not the repo.
/dotfiles/direnv/lib/hm-nix-direnv.sh
