* {
    font-family: "JetBrainsMono Nerd Font", serif;
    font-size: 14px;
}

window#waybar {
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
    color: #000000;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #000000;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #000000;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.05);
}

#workspaces button.focused,
#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -3px #000000;
}

#workspaces button.urgent {
    background-color: #ff3b30;
    color: #ffffff;
}

#mode {
    background-color: transparent;
    box-shadow: inset 0 -3px #000000;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #000000;
    background-color: transparent;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
}

#battery {
    background-color: transparent;
    color: #000000;
}

#battery.charging,
#battery.plugged {
    color: #34c759;
    background-color: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: transparent;
    color: #ff3b30;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: transparent;
    color: #ff3b30;
}

#power-profiles-daemon.balanced {
    background-color: transparent;
    color: #000000;
}

#power-profiles-daemon.power-saver {
    background-color: transparent;
    color: #34c759;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    color: #000000;
}

#memory {
    background-color: transparent;
    color: #000000;
}

#disk {
    background-color: transparent;
    color: #000000;
}

#backlight {
    background-color: transparent;
    color: #000000;
}

#network {
    background-color: transparent;
    color: #000000;
}

#network.disconnected {
    background-color: transparent;
    color: #ff3b30;
}

#pulseaudio {
    background-color: transparent;
    color: #000000;
}

#pulseaudio.muted {
    background-color: transparent;
    color: #8e8e93;
}

#wireplumber {
    background-color: transparent;
    color: #000000;
}

#wireplumber.muted {
    background-color: transparent;
    color: #8e8e93;
}

#custom-media {
    background-color: transparent;
    color: #000000;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: transparent;
    color: #000000;
}

#custom-media.custom-vlc {
    background-color: transparent;
    color: #000000;
}

#temperature {
    background-color: transparent;
    color: #000000;
}

#temperature.critical {
    background-color: transparent;
    color: #ff3b30;
}

#tray {
    background-color: transparent;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: transparent;
    color: #000000;
}

#idle_inhibitor.activated {
    background-color: transparent;
    color: #007aff;
}

#mpd {
    background-color: transparent;
    color: #000000;
}

#mpd.disconnected {
    background-color: transparent;
    color: #ff3b30;
}

#mpd.stopped {
    background-color: transparent;
    color: #8e8e93;
}

#mpd.paused {
    background-color: transparent;
    color: #000000;
}

#language {
    background: transparent;
    color: #000000;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: transparent;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.05);
}

#scratchpad {
    background: transparent;
    color: #000000;
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-notification,
#custom-power {
    background-color: transparent;
    padding: 0 5px;
}

#custom-notification:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

#custom-power:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
